#content{
    text-align: center;
}

h1{
    text-align: center;
}

.container{
    
    width: 600px;
    height: 400px;
    background-color: paleturquoise;
}

body{
    background-color: gainsboro;
}

.buttons {
    text-align: center;
    display: none;
}